*{
   margin: 0;
   padding: 0;
 
}

/* body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;

} */

.controlbox{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
  
    /* position: relative;
    left: 0;
    margin-bottom: 10px; */
    
}
/* .controlbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
} */

.profile-card{
    display: flex;
    align-items: center;
   
    flex-direction: column;
    max-width: 280px;
    width: 100%;
   
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.1);
    position:relative;
    margin-right: 18px;
    z-index: 10;

    
}


.profile-card::before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #140B5C;
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #140B5C;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;

}

.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text-data .name{
    font-size: 22px;
    font-weight: 500;
}

.text-data .job{
    font-size: 15px;
    font-weight: 400;
}
 .profile-card  .media-buttons{ 
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #140B5C;
    text-decoration: none;

}

.profile-card .buttons{
 display: flex;
 align-items: center;
 margin-top: 25px;
}

.buttons .button{
    color:white;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: #140B5C;
    cursor: pointer;
     transition: all 2.9s ease;  

}
.buttons .button:hover{
    background-color: #0e4bf1;

}
.profile-card .analytics {
    display: flex;
    align-items: center;
    margin-top: 25px;

}

.analytics .data{
    display: flex;
    align-items: center;
    color:#333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;

}

.data {
    font-size: 18px;
    margin-right: 6px;

}
.data:last-child{
    border-right: none;

}

.cardheader{
 display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr)); 
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap: 10px;
    overflow: hidden;
    /* height: auto; 
    width: 100%; */
    align-items: center;
    margin-right: 20px;
    
} 

.card1 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    align-items: center;

  }

  @media screen and (max-width: 600px){
    .controlbox{
        width: 100%;
       display: grid;
       /* grid-template-columns: auto auto; */
       gap: 20px;
       margin-left: 10px;
      position: relative;
      margin-bottom: 10px;
      height: auto;
     
      
    
    }

    }
